@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html{
  scroll-behavior: smooth;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}